.profile-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}

.profile-sidebar {
    flex-shrink: 0;
    width: 200px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.profile-picture-container img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

.profile-picture-container h1 {
    font-size: 16px;
    margin: 5px 0;
    font-weight: normal;
}

.profile-picture-container p {
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
}

.edit-profile-button,
.settings-button {
    width: 100%;
    padding: 10px 20px;
    /* Adjusted padding to match the logout button */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0;
}

.edit-profile-button+.settings-button {
    margin-top: 5px;
    /* Slight spacing between buttons */
}

.settings-button {
    background-color: #007bff;
}

.edit-profile-button:hover,
.settings-button:hover {
    opacity: 0.8;
}

.profile-details {
    flex-grow: 1;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.user-posts {
    margin-top: 150px;
    /* Adjust to align with the settings button */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.post-container {
    position: relative;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-container p {
    margin: 0;
}

.post-profile-picture {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    /* Optional: Add a white border for better contrast */
}

.post-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}